<div ng-controller="customerCtrl" ng-cloak>

    <button go-click="/">Back</button>

    <label>Email: <input id="email" type="email" ng-model="customer.email"><span ng-show="err=='email'">Wrong input</span></label>
    <label>First Name: <input id="firstName" ng-model="customer.firstName"><span ng-show="err=='firstName'">Wrong input</span></label>
    <label>Last Name: <input id="lastName" ng-model="customer.lastName"><span ng-show="err=='lastName'">Wrong input</span></label>
    <label>Age: <input id="age" type="number" ng-model="customer.age"><span ng-show="err=='age'">Wrong input</span></label>

    <button ng-click="save()">Save</button>

    <table ng-show="id!==null">
        <caption>List of Customer's Orders</caption>
        <tr>
            <th>Date</th>
            <th>Product Description</th>
            <th>Total Order</th>
            <th>Link to Order</th>
        </tr>
        <tr ng-repeat="order in orders">
            <td>{{order.date}}</td>
            <!--<td>{{order.date.dayOfMonth+'/'+order.date.monthValue+'/'+order.date.year}}</td>-->
            <td>{{order.description}}</td>
            <td>{{order.price*order.quantity}}</td>
            <td><a href="" ng-click="toOrder(order.id)">link</a></td>
        </tr>
    </table>

    <button ng-click="toOrder(null)">Add Order</button>
</div>