<div ng-controller="orderCtrl" ng-cloak>

    <button go-click="/customer">Back</button>

    <label>Date: <input id="date" ng-model="order.date" placeholder="yyyy-MM-dd'T'HH:mm:ss" title="yyyy-MM-dd'T'HH:mm:ss"></label>
    <label>Product Description: <input id="description" ng-model="order.description"></label>
    <label>Price per Unit: <input id="price" ng-model="order.price"></label>
    <label>Quantity: <input id="quantity" type="number" ng-model="order.quantity"></label>

    <button ng-click="save()">Save</button>

</div>